/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
# ignore RubyMine IDE related files
/.idea
/projectFilesBackup
# ignore vagrant related files
/.vagrant
