# http://docs.docker.com/compose/yml/

# App container. Uses the production docker image as a
# base, but mounts the local development directory instead
# of the code in the container.
app:
  build: .
  volumes:
    - '.:/usr/src/app'
  volumes_from:
    - data
  entrypoint: bin/run
  command: ruby bin/optimus

# Data-only container, used to persist development gems.
data:
  build: .
  command: 'true'
  volumes:
    - /home/playlab/ruby
